body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
}

#main-content {
    background: #3399FF;
    margin: 10px;
    border-radius:5px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

#toys {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    padding: 0;
    margin: 0;
}

.toy-section {
    width: 90%;
    position: relative;
    margin: 2.5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toy-section:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: x-large;
    margin: 8px;
}

.overlay p {
    font-size: large;
    margin: 8px;
}

@media(min-width:900px) {
    .toy-section {
        width: 31%;
        position: relative;
        margin: 1%;
    }
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

